body {
	font-family: "Arial", sans-serif;
	height : 100%;
}

.no-padding {
	padding: 0px;
}

.padding1 {
	padding-right: 1px;
}

.affichageList {
	margin-bottom: 5px;
}

#menu {
}

.marginExt {
	margin : 0.25em 0.25em 0.25em 0.25em;
}

#header {
	padding-top: 15px;
	padding-left: 50px;
}


.global {
	background-color: white;
}

#trait {
	padding-top: 1px;
	border-bottom : 1px solid #D9DADB;
}

.image {
	padding: 10px;
	    border-bottom: none;
	border: 1px solid #D9DADB;
    box-shadow: inset 0 -1px 0 #cccccc, inset 0 -2px 0 #999999;
	
}

#footer {	
	border-top:2px solid #C0C0C0;
}

slick {
	padding: 10px;
	border-bottom: 1px solid #D9DADB;
}

.fondElement {
	padding: 10px;
	background-color: white;
	border: 1px solid transparent;
	border-color: #ddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.fondTitre {
	background-color: #3232b8;
	color: #000080;
	text-align: center;
	border: 1px solid transparent;
	border-color: #9cadcb;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	/*background-image: -webkit-linear-gradient(top, #00a0c8 0%, #00adcb 100%);
	background-image: -o-linear-gradient(top, #00a0c8 0%, #00adcb 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00a0c8), to(#00adcb));
	background-image: linear-gradient(to bottom, #00a0c8 0%, #00adcb 100%);*/
	margin-top: 10px;
}

#vuePrincipale {
}

.mosaique-item{
	
	margin-bottom:10px;
	padding-right:5px;
	padding-left:5px;
	
}

.radioNoCircle{
	visibility:hidden;
	height:0;
	width:0;
	position : absolute;
}

@media (max-width: 768px) {
  [class*="col-"] {
  	padding: 0px;
  }
}

@media (max-width: 992px) {
  [class*="col-"] {
  }
}

@media (max-width: 1200px) {
  [class*="col-"] {
  	
  }
}

.input-hidden{
	display:none;
}

label {
	font-weight : normal;
    cursor: pointer;
	font-size : 1.3em;
}

input.tri:checked + label {
	font-weight : bold;
    text-decoration : underline;
}

input.avis:checked + img {
	border-width:1px;
 	border-style:dotted;
 	border-color:black;
}

.triFiltres{
	padding-top : 5px;
	padding-right : 15px;
}

.corps{
	padding-top : 10px;
}

input.affichage + label {
	color : #d3d1d1;
	font-size : 2em;
}

input.affichage:checked + label {
	color : black;
}

.boutonAjoutPanier{
	
	font-size : 100%;
	padding-right : 0;
	padding-left : 0;
	
}

.titre{
	
	color : #3232b8;
	
}

.lesGenres, .choixPrix, .supprPanier{
	
	font-size : 14px;
	
}

.choixPrix input, .choixPrix a{
	
	padding : 0;
	height : unset;
}

.lesGenres li:hover{
	
	
	color : #f7a62d;
	
}

.lesGenres label{
	
	font-size : 14px;
}

.titre2{
	
	color : white;
	font-size : 22px;
	font-weight : bold;
	
}

.monCompteHeader{
	
	
	color : #3232b8;
	font-weight : bold;
	font-size : 1.17 em;
	
}
