body {
	font-family: "Palatino Linotype", Serif;
	height : 100%;
}

.no-padding {
	padding: 0px;
}

.padding1 {
	padding-right: 1px;
}

.affichageList {
	margin-bottom: 5px;
}

#menu {
	background-color: #ECF3F2;
}

#header {
	margin-top: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 15px;
	padding-left: 50px;
	background-color: #ECF3F2;
}

#trait {
	padding-top: 10px;
	border-bottom : 2px solid #C0C0C0;
	background-color: #ECF3F2;
}

#footer {
	background-color: #ECF3F2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 15px;
}

#vuePrincipale {
	background-color: #ECF3F2;
}

.mosaique-item{
	
	margin-bottom:10px;
	padding-right:5px;
	padding-left:5px;
	
}

.radioNoCircle{
	visibility:hidden;
}

label {
	font-weight : normal;
    cursor: pointer;
	font-size : 1.5em;
}

input.tri:checked + label {
	font-weight : bold;
    text-decoration : underline;
}

input.avis:checked + img {
	border-width:1px;
 	border-style:dotted;
 	border-color:black;
}

.triFiltres{
	padding-top : 5px;
	padding-right : 15px;
}

.corps{
	padding-top : 10px;
}

input.affichage + label {
	color : #d3d1d1;
	font-size : 2em;
}

input.affichage:checked + label {
	color : black;
}
