<!doctype html>
<html ng-app="app">

    <head>
        <title>Futura Books</title>
        
        <meta charset="UTF-8" >
        
        <!-- Librairie js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script>
        <script src="js/libs/angular.min.js" ></script>
        <script src="js/libs/bootstrap.js" ></script>
        <script src="js/libs/ui-bootstrap-tpls-2.1.4.js" ></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        
        <!-- Controller js -->
        <script src="js/main.js" ></script>
    </head>
    <body class="container-fluid panel-body">
        <section class="container-fluid panel-body" ng-controller="headerCtrl" style ='background-color: #daefec; margin-bottom:15px;'>
            <span style="float: left;">
                <img ng-src="images/logoEcom2.png" class="img-responsive" height="14%" width="14%" />
            </span>
        </section>
        
     	<div class="container-fluid">
     		<div class="row">
		        <section ng-controller="menuCtrl" class="col-lg-2" style ='background-color: #a7dbef; margin-bottom:15px;'>
		            <h1>MENU</h1>
		        </section>
				
		        <section ng-controller="contentCtrl" class="col-lg-10" style ='background-color: #d2ecf7; margin-bottom:15px;'>
			        <div class="row">
			        <h2>Promotions</h2>
					<div id="top">
					    <ul>
					        <li class="col-lg-2 hidden-xs list-unstyled" ng-repeat="livre in livres">
					            <div class="row">
					                <div>
					                    <img ng-src="images/{{livre.nomCouverture}}" class="img-responsive"/>
					                </div>
					                <div>
					                    <a ng-href="#/info/{{livre.id}}"><h5 ng-bind="livre.titre"></h5></a>
					                    <h6>{{livre.lesAuteurs[0].prenom}} {{livre.lesAuteurs[0].nom}}</h6>
					                    <div>
											<span>{{calculeMoyenne(livre.lesAvis)}}</span>
											<i class="a-star-small-4-5"></i>
					                    </div>
					                    <div>
					                        <span style="text-decoration:line-through; color: red;">{{livre.prix}} €</span>
					                        <span style="color: green;">{{livre.prix-(livre.prix*livre.promotion.tauxReduc)/100}} €</span>
					                    </div>
					                </div>
					            </div>
					        </li>
					    </ul>
					</div>
					</div>
					<div class="row">
					<h2>Livres les plus vendus</h2>
					<div id="top">
					    <ul>
					        <li class="col-lg-2 hidden-xs list-unstyled" ng-repeat="livre in livres">
					            <div class="row">
					                <div>
					                    <img ng-src="images/{{livre.nomCouverture}}" class="img-responsive"/>
					                </div>
					                <div>
					                    <a ng-href="#/info/{{livre.id}}"><h5 ng-bind="livre.titre"></h5></a>
					                    <h6>{{livre.lesAuteurs[0].prenom}} {{livre.lesAuteurs[0].nom}}</h6>
					                    <div>
											<span>{{calculeMoyenne(livre.lesAvis)}}</span>
											<i class="a-star-small-4-5"></i>
					                    </div>
					                    <div>
					                        <span style="text-decoration:line-through; color: red;">{{livre.prix}} €</span>
					                        <span style="color: green;">{{livre.prix-(livre.prix*livre.promotion.tauxReduc)/100}} €</span>
					                    </div>
					                </div>
					            </div>
					        </li>
					    </ul>
					</div>
					</div>
		        </section>
		     </div>
        </div>
        
        <footer ng-controller="footerCtrl" class="container-fluid panel-body" style ='background-color: #daefec;'>
            <h1>FOOTER</h1>
        </footer>
    </body>
</html>