<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ProjetEcom</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>InitBD</servlet-name>
		<servlet-class>servlets.InitBDServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitBD</servlet-name>
		<url-pattern>/InitBD</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RechercheViaBarre</servlet-name>
		<servlet-class>servlets.RechercheViaBarreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RechercheViaBarre</servlet-name>
		<url-pattern>/RechercheViaBarre</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getLivresEnPromo</servlet-name>
		<servlet-class>servlets.GetLivreEnPromoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getLivresEnPromo</servlet-name>
		<url-pattern>/Promos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getLivresRecherche</servlet-name>
		<servlet-class>servlets.GetLivreRechercheServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getLivresRecherche</servlet-name>
		<url-pattern>/Recherche</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>getLivresPlusVendu</servlet-name>
		<servlet-class>servlets.GetLivresPlusVenduServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getLivresPlusVendu</servlet-name>
		<url-pattern>/PlusVendu</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChercherLivreAvecId</servlet-name>
		<servlet-class>servlets.ChercherLivreAvecIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChercherLivreAvecId</servlet-name>
		<url-pattern>/LivreAvecId</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InscriptionClient</servlet-name>
		<servlet-class>servlets.InscriptionClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InscriptionClient</servlet-name>
		<url-pattern>/InscriptionClient</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetAuteurs</servlet-name>
		<servlet-class>servlets.AuteursLivreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAuteurs</servlet-name>
		<url-pattern>/GetAuteurs</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConnexionClient</servlet-name>
		<servlet-class>servlets.ConnexionClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnexionClient</servlet-name>
		<url-pattern>/ConnexionClient</url-pattern>
	</servlet-mapping>

</web-app>