<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ProjetEcom</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<servlet>
		<servlet-name>InitBD</servlet-name>
		<servlet-class>servlets.InitBDServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitBD</servlet-name>
		<url-pattern>/InitBD</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AjouterLivre</servlet-name>
		<servlet-class>servlets.AjouterLivreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjouterLivre</servlet-name>
		<url-pattern>/AjouterLivre</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AjouterCommentaire</servlet-name>
		<servlet-class>servlets.AjouterCommentaireServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjouterCommentaire</servlet-name>
		<url-pattern>/AjouterCommentaire</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RechercheViaBarre</servlet-name>
		<servlet-class>servlets.RechercheViaBarreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RechercheViaBarre</servlet-name>
		<url-pattern>/RechercheViaBarre</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getLivresEnPromo</servlet-name>
		<servlet-class>servlets.GetLivreEnPromoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getLivresEnPromo</servlet-name>
		<url-pattern>/Promos</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getLivresPlusVendu</servlet-name>
		<servlet-class>servlets.GetLivresPlusVenduServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getLivresPlusVendu</servlet-name>
		<url-pattern>/PlusVendu</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChercherLivreAvecId</servlet-name>
		<servlet-class>servlets.ChercherLivreAvecIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChercherLivreAvecId</servlet-name>
		<url-pattern>/LivreAvecId</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InscriptionClient</servlet-name>
		<servlet-class>servlets.InscriptionClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InscriptionClient</servlet-name>
		<url-pattern>/InscriptionClient</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SupprimerClient</servlet-name>
		<servlet-class>servlets.SupprimerClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SupprimerClient</servlet-name>
		<url-pattern>/SupprimerClient</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetAuteurs</servlet-name>
		<servlet-class>servlets.AuteursLivreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAuteurs</servlet-name>
		<url-pattern>/GetAuteurs</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConnexionClient</servlet-name>
		<servlet-class>servlets.ConnexionClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnexionClient</servlet-name>
		<url-pattern>/ConnexionClient</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>GetTous</servlet-name>
		<servlet-class>servlets.GetTousServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTous</servlet-name>
		<url-pattern>/GetTous</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GestionCommande</servlet-name>
		<servlet-class>servlets.GestionCommandeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GestionCommande</servlet-name>
		<url-pattern>/GestionCommande</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetInfoClient</servlet-name>
		<servlet-class>servlets.GetInfoClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetInfoClient</servlet-name>
		<url-pattern>/GetInfoClient</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ModificationProfile</servlet-name>
		<servlet-class>servlets.ModificationProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificationProfile</servlet-name>
		<url-pattern>/ModificationProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ModificationMotDePasse</servlet-name>
		<servlet-class>servlets.ModificationMotDePasseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificationMotDePasse</servlet-name>
		<url-pattern>/ModificationMotDePasse</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>CreerGenreServlet</servlet-name>
		<servlet-class>servlets.CreerGenreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreerGenreServlet</servlet-name>
		<url-pattern>/CreerGenreServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreerEditeurServlet</servlet-name>
		<servlet-class>servlets.CreerEditeurServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreerEditeurServlet</servlet-name>
		<url-pattern>/CreerEditeurServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreerAuteurServlet</servlet-name>
		<servlet-class>servlets.CreerAuteurServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreerAuteurServlet</servlet-name>
		<url-pattern>/CreerAuteurServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AjoutPromoServlet</servlet-name>
		<servlet-class>servlets.AjoutPromoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjoutPromoServlet</servlet-name>
		<url-pattern>/AjoutPromoServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TestChargeServlet</servlet-name>
		<servlet-class>servlets.TestChargeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestChargeServlet</servlet-name>
		<url-pattern>/TestChargeServlet</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>TestChargeServlet2</servlet-name>
		<servlet-class>servlets.TestChargeServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestChargeServlet2</servlet-name>
		<url-pattern>/TestChargeServlet2</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>TestChargeServlet3</servlet-name>
		<servlet-class>servlets.TestChargeServlet3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestChargeServlet3</servlet-name>
		<url-pattern>/TestChargeServlet3</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ConfirmationCommandeServlet</servlet-name>
		<servlet-class>servlets.ConfirmationCommandeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmationCommandeServlet</servlet-name>
		<url-pattern>/ConfirmationCommandeServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConfirmationInscriptionServlet</servlet-name>
		<servlet-class>servlets.ConfirmationInscriptionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmationInscriptionServlet</servlet-name>
		<url-pattern>/ConfirmationInscriptionServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EnvoiMailBeans</servlet-name>
		<servlet-class>restBeans.EnvoiMailBeans</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnvoiMailBeans</servlet-name>
		<url-pattern>/EnvoiMailBeans</url-pattern>
	</servlet-mapping>
	

</web-app>