<div>
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Connexion</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<div class="form-group">
			<span id="erreurIdentifiantModal" style="display: none; color: red;">Identifiant ou mot de passe incorrect</span>
			<label>Identifiant</label>
			<input ng-model="pseudo" class="form-control" id="pseudo"></input>
			<label>Mot de passe</label>
			<input ng-model="mdp" type="password" class="form-control" id="pseudo"></input>
		</div>		
	</div>
	<div class="modal-footer">
		<input type="submit" class="btn btn-warning" ng-click="connexion(pseudo, mdp)" value="Connexion"></input>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
	</div>
</div>