<div>
	<div class="modal-header">
		<h3 class="modal-title" id="modal-title">Connexion</h3>
	</div>
	<div class="modal-body" id="modal-body">
		<div class="form-group">
			<span id="erreurIdentifiantModal" style="display: none; color: red;">Identifiant ou mot de passe incorrect</span>
			<label for="commentaire">Mot de passe</label>
			<input ng-model="pseudo" class="form-control" id="pseudo"></input>
			<label for="mdp">Mot de passe</label>
			<input ng-model="mdp" type="password" class="form-control" id="pseudo"></input>
		</div>
		<input type="submit" class="btn btn-primary" ng-click="connexion(pseudo, mdp)" value="Connexion"></input>
	</div>
	<div class="modal-footer"></div>
</div>