<!doctype html>
<html ng-app="app">

    <head>
        <title>Futura Books - Mon Compte</title>
        <meta charset="UTF-8" >     
        <!-- Librairie js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script>
        <script src="../js/libs/angular.min.js" ></script>
        <script src="../js/libs/bootstrap.js" ></script>
        <script src="../js/libs/ui-bootstrap-tpls-2.1.4.js" ></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        
        <!-- Controller js -->
        <script src="../js/main.js" ></script>
    </head>
    <body>
        <section>
		<div>
				<p>Pseudo : {{pseudo}}<br>
				<p>Nom :	{{nom}}<br>
				<p>Prénom :	{{prenom}}<br>
				<p>Email : {{mail}}<br>
		</div>
		<br>
        </section>
    </body>
</html>