<section>	
	<div>
	<h1>Bienvenue sur votre profile.</h1>
		<form action="../ModificationProfile" method="POST">
			<input type="text" name="pseudo" value= {{pseudo}}><br>
			<input type="text" name="nom" value={{nom}}><br>
			<input type="text" name="prenom" value={{prenom}}><br>
			<input type="text" name="email" value={{mail}}><br>
			<input type="submit" value="Modifier">
		</form>
	</div>
	<br>
	<form action="#/modificationMotDePasse">
    <input type="submit" value="Modification du mot de passe" />
</form>
</section>