<section>
	<div style="padding: 2em 2em 2em 2em;" class="container-fluid">


		<h3 style="margin: 1em 1em 1em 1em">Paramètres du compte</h3>


		<div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Modifier vos informations</h3>
				</div>
				<div class="panel-body">

					<table WIDTH=100%>
						<!--  <form action="/ModificationProfile" method="POST"> -->
						<tr>
							<td>Pseudo</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="pseudo" class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"
								value={{pseudo}}></td>
						</tr>
						<tr>
							<td>Nom</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="nom"  class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"
								value={{nom}}></td>
						</tr>
						<tr>
							<td>Prenom</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="prenom" class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"
								value={{prenom}}></td>
						</tr>
						<tr>
							<td>Email</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="email" class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"
								value={{mail}}></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td ALIGN="right"><input type="submit" value="Modifier" onclick="modificationProfil()"
								class="marginExt btn col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-warning"></td>
						</tr>
						<!--  </form> -->
						<tr>
						<td></td>
						<td></td>
							<td ALIGN="right">
								<form action="#/modificationMotDePasse">
									<input type="submit" value="Modification du mot de passe"
										class="marginExt btn col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-warning" />
								</form>
							</td>
						</tr>
					</table>

				</div>
			</div>

		</div>


		<!-- <div style="clear: both;"></div> -->



		<div style="clear: both;"></div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
			ng-controller="commandeClientCtrl">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Vos commandes</h3>
				</div>
				<div class="panel-body">
					<table WIDTH=100% ng-if="commandes != null">
						<tr ng-repeat="cmd in commandes">
							<td>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">Numéro de commande : {{cmd.id}}</h3>
										<h3 class="panel-title">Date d'achat :
											{{cmd.dateDeVente}}</h3>
										<h3 class="panel-title">Prix total : {{cmd.prixTotal}}€</h3>
									</div>
									<div class="panel-body">
										<div ng-repeat="vente in cmd.lesVentes" class="mosaique-item">

											<div>
												<a ng-href="#/info/{{vente.livre.id}}"
													title="{{vente.livre.titre}}"> <span
													ng-bind="vente.livre.titre" style="overflow-y: hidden;"></span>
												</a> <span style="color: green;">{{vente.prix}}€</span> <br>
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>

					</table>
					<p ng-if="commandes == null">Vous n'avez pas réaliser d'achat</p>
				</div>
			</div>
		</div>





	</div>

</section>