<!doctype html>
<html ng-app="app">

    <head>
        <title>Futura Books</title>
        <meta charset="UTF-8" >     
        <!-- Librairie js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" ></script>
        <script src="../js/libs/angular.min.js" ></script>
        <script src="../js/libs/bootstrap.js" ></script>
        <script src="../js/libs/ui-bootstrap-tpls-2.1.4.js" ></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        
        <!-- Controller js -->
        <script src="../js/main.js" ></script>
    </head>
    <body>
        <section>
		<div>
			<form action="http://localhost:8080/ConnexionClient" method="GET">
				<p>Pseudo : <input type="text" name="pseudo"><br>
				Mot de passe : <input type="text" name="motDePasse"><br>
				<input type="submit" value="Connexion">
			</form>
		</div>
		<br>
        </section>
    </body>
</html>