<div class="row">
        <h2>Promotions</h2>
		<div id="top">
		    <ul>
		        <li class="col-lg-2 hidden-xs list-unstyled" ng-repeat="livre in livres">
		            <div class="row">
		                <div>
		                    <img ng-src="images/{{livre.nomCouverture}}" class="img-responsive"/>
		                </div>
		                <div>
		                    <a ng-href="#/info/{{livre.id}}"><h5 ng-bind="livre.titre"></h5></a>
		                    <h6>{{livre.lesAuteurs[0].prenom}} {{livre.lesAuteurs[0].nom}}</h6>
		                    <div>
								<span>{{calculeMoyenne(livre.lesAvis)}}</span>
								<i class="a-star-small-4-5"></i>
		                    </div>
		                    <div>
		                        <span style="text-decoration:line-through; color: red;">{{livre.prix}} €</span>
                      <span style="color: green;">{{calculPromo(livre.prix,livre.promotion.tauxReduc)}} €</span>
                  </div>
              </div>
          </div>
      </li>
	    </ul>
	</div>
</div>