
<h2 class="titre">Promotions</h2>
<slick infinite="true" slides-to-show="7" responsive="breakpoints" dots="false" arrows="true" data="livresPromo" init-onload="true">


<div ng-repeat="livre in livresPromo" class="mosaique-item">
	<div class="image">
		<a ng-href="#/info/{{livre.id}}"> <img alt="{{livre.titre}}" title="{{livre.titre}}" ng-src="{{livre.nomCouverture}}" class="img-responsive" />
		</a>
	</div>
	<div>
		<a ng-href="#/info/{{livre.id}}"  title="{{livre.titre}}"><span ng-bind="livre.titre" style="overflow-y: hidden;"></span></a>
		<h6 ng-repeat="auteur in livre.lesAuteurs">{{auteur.prenom}} {{auteur.nom}}</h6>
		<div>
			<span>{{calculeMoyenne(livre.lesAvis)}}</span> <i class="a-star-small-4-5"></i>
		</div>
		<div>
			<span style="text-decoration: line-through; color: red;">{{livre.prix}} €</span> <span style="color: green;">{{calculPromo(livre.prix,livre.promotion.tauxReduc)}} €</span>
			<ngcart-addtocart class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" id="{{livre.id}}" name="{{livre.titre}}" price="{{calculPromo(livre.prix,livre.promotion.tauxReduc)}}" quantity="1"></ngcart-addtocart>
		</div>
	</div>
</div>
</slick>
<h2 class="titre">Livres les plus vendus</h2>
<slick infinite="true" slides-to-show="7" responsive="breakpoints" dots="false" arrows="true" data="livresPlusVendu" init-onload="true">

<div ng-repeat="livre in livresPlusVendu" class="mosaique-item">
	<div>
		<a ng-href="#/info/{{livre.id}}"> <img ng-src="{{livre.nomCouverture}}" class="img-responsive" />
		</a>
	</div>
	<div>
		<a ng-href="#/info/{{livre.id}}"><h5 ng-bind="livre.titre"></h5></a>
		<h6>{{livre.lesAuteurs[0].prenom}} {{livre.lesAuteurs[0].nom}}</h6>
		<div>
			<span>{{calculeMoyenne(livre.lesAvis)}}</span> <i class="a-star-small-4-5"></i>
		</div>
		<div ng-if="estEnPromo(livre.promotion)">
			<span style="text-decoration: line-through; color: red;">{{livre.prix}} €</span> <span style="color: green;">{{calculPromo(livre.prix,livre.promotion.tauxReduc)}} €</span>
			<ngcart-addtocart id="{{livre.id}}" name="{{livre.titre}}" price="{{calculPromo(livre.prix,livre.promotion.tauxReduc)}}" quantity="1"></ngcart-addtocart>
		</div>
		<div ng-if="!estEnPromo(livre.promotion)">
			<span>{{livre.prix}} €</span>
			<ngcart-addtocart id="{{livre.id}}" name="{{livre.titre}}" price="{{livre.prix}}" quantity="1"></ngcart-addtocart>
		</div>
	</div>
</div>
</slick>
<!--  <h2>Recherche</h2>
<slick infinite="true" slides-to-show="5" dots="true" arrows="true" data="livresRecherche" init-onload="true">
	<div  ng-repeat="livre in livresRecherche" >
 		
		<div>
			<a ng-href="#/info/{{livre.id}}">
			<img ng-src="{{livre.nomCouverture}}" class="img-responsive" />
			</a>
		</div>
		<div>

			<a ng-href="#/info/{{livre.id}}"><h5 ng-bind="livre.titre"></h5></a>
			<h6>{{livre.lesAuteurs[0].prenom}} {{livre.lesAuteurs[0].nom}}</h6>
			<div>
				<span>{{calculeMoyenne(livre.lesAvis)}}</span>
				<i class="a-star-small-4-5"></i>
			</div>
			<div ng-if="livre.promotion">
				<span style="text-decoration:line-through; color: red;">{{livre.prix}} €</span>
		        <span style="color: green;">{{calculPromo(livre.prix,livre.promotion.tauxReduc)}} €</span>
	        </div>
	        <div ng-if="livre.promotion == undefined">
				<span>{{livre.prix}} €</span>
	        </div>
	        <ngcart-addtocart id="{{livre.id}}" name="{{livre.titre}}" price="{{livre.prix}}" quantity="1">Ajouter au panier</ngcart-addtocart>
       	</div>
       	
	</div> 
</slick>
-->



