<head>
<script>
	/*var cookieValue = document.cookie.replace(
			/(?:(?:^|.*;\s*)login\s*\=\s*([^;]*).*$)|^.*$/, "$1");
	if (cookieValue != null && cookieValue != "") {
		document.getElementById('login').innerHTML = cookieValue;
		document.getElementById('connexion').style.display = "none";
		document.getElementById('profil').style.display = "";
	}
	var cookieValue = document.cookie.replace(
			/(?:(?:^|.*;\s*)erreur\s*\=\s*([^;]*).*$)|^.*$/, "$1");
	if (cookieValue == "true") {
		document.getElementById('erreurIdentifiant').style.visibility = "visible";
		document.cookie = "erreur=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
	} else {
		document.getElementById('erreurIdentifiant').style.visibility = "hidden";
	}

	function deconnexion() {
		document.getElementById('connexion').style.display = "";
		document.getElementById('profil').style.display = "none";
		document.cookie = "login=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
		document.cookie = "idClient=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
		document.cookie = "erreur=; expires=Thu, 01 Jan 1970 00:00:00 GMT";

	}
	function afficheCookies() {
		alert(document.cookie);
	}

	function redirectCompteClient() {
		window.location.href = ("#/compteClient/" + document.cookie.replace(
				/(?:(?:^|.*;\s*)login\s*\=\s*([^;]*).*$)|^.*$/, "$1"));
	}*/
	
</script>


</head>


<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
	<span class="col-lg-3 col-md3 col-sm-3 col-xs-3 no-padding "> <a
		href="" ng-click="redirection()"> <img
			ng-src="images/logoEcom2.png" class="img-responsive" /></a>
	</span>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"
		style="margin-top: 2.5%; vertical-align: middle;">
		<form ng-submit="rechercheBarre()" role="form" name="form" action=""
			method="post" style="padding: 0px; vertical-align: middle;">

			<div class="input-group input-gr1701oup-lg icon-addon addon-lg"
				style="vertical-align: middle;">

				<input list="barreRecherche" type="text" ng-model="recherche"
					placeholder="Ecrivez ici pour chercher un livre ..."
					ng-change="suggestion()" name="inputSearchQuerry" id="schbox"
					class="form-control input-lg">
				<datalist id="barreRecherche">
				</datalist>
				<i class="icon icon-search"></i> <span class="input-group-btn">
					<a ng-click="rechercheBarre()" href="" class="btn btn-warning"
					role="button"><i class="glyphicon glyphicon-search"></i></a>
				</span>
			</div>
		</form>
	</div>

	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding">
		<div class="col-lg-5 col-md-5 col-xs-5 col-sm-5 no-padding">
			<a ng-href="#/panier"> <!-- <img ng-src="../images/icon_panier.png" class=" img-responsive" style="height: 6em;width: 6em; margin:auto; padding:0px;"/>-->
				<ngcart-summary></ngcart-summary>
			</a>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding">
			<div ng-if="!estConnecte" id="connexion">
				<!-- -->
				<script type="text/ng-template" id="templatePopoverConnexion.html" >
				<div >
					<div class="form-group">
						<span id="erreurIdentifiant" style="display: none; color: red;">Identifiant ou mot de passe incorrect</span>
						<label for="commentaire">Identifiant</label>
						<input autocomplete="off" ng-model="pseudo" class="form-control" id="pseudo"></input>
						<label for="mdp">Mot de passe</label>
						<input ng-model="mdp" type="password" class="form-control" id="pseudo"></input>
					</div>
					<input type="submit" class="btn btn-warning" ng-click="connexion(pseudo, mdp)" value="Connexion"></input>
					<span>Pas encore inscrit? </span> <a ng-href="#/inscription"">Cliquez ici</a>
				</div>
	    		</script>
				<a class="monCompteHeader" ng-controller="popoverConnexionCtrl" hover-popover>MON COMPTE<i class="glyphicon glyphicon-chevron-down"></i></a>
				<!-- UTILISER DIRECTIVE ANGULAR ALERT -->
				<!-- <form action="#/inscription" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style="padding-top: 5px;">
					<input class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-primary" type="submit" value="Inscription">
				</form>-->
			</div>
			<div ng-if="estConnecte" id="profil"
				class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
				<a onclick="redirectCompteClient();"
					class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Mon Compte
				</a> <a class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="login">{{cookieValue}}</a>
					<input class="btn btn-warning" type="submit"
						ng-click="deconnexion()" value="Deconnexion">
			</div>
			<!-- <form>
				<input type="submit" onclick="afficheCookies()"
					value="affiche Cookies">
				</p>
			</form>-->
		</div>
	</div>
</div>
