<head>
<script>
	var cookieValue = document.cookie.replace(
			/(?:(?:^|.*;\s*)login\s*\=\s*([^;]*).*$)|^.*$/, "$1");
	if (cookieValue != null && cookieValue != "") {
		document.getElementById('login').innerHTML = cookieValue;
		document.getElementById('connexion').style.display = "none";
		document.getElementById('profil').style.display = "";
	}
	var cookieValue = document.cookie.replace(
			/(?:(?:^|.*;\s*)erreur\s*\=\s*([^;]*).*$)|^.*$/, "$1");
	if (cookieValue == "true") {
		document.getElementById('erreurIdentifiant').style.display = "block";
		document.cookie = "erreur=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
	} else {
		document.getElementById('erreurIdentifiant').style.display = "none";
	}

	// 		var name = "login=";
	//     	var ca = document.cookie.split(';');
	//     	for(var i = 0; i <ca.length; i++) {
	//         	var c = ca[i];
	//         	while (c.charAt(0)==' ') {
	//             	c = c.substring(1);
	//         	}
	//         	if (c.indexOf(name) == 0) {
	//             	document.getElementById('login').innerHTML = c.substring(name.length,c.length);
	//             	document.getElementById('1').style.display = "none";
	//             	document.getElementById('2').style.display = "";
	//         	}
	//     	}	

	function deconnexion() {
		document.getElementById('connexion').style.display = "";
		document.getElementById('profil').style.display = "none";
		document.cookie = "login=; expires=Thu, 01 Jan 1970 00:00:00 GMT";
		document.cookie = "erreur=; expires=Thu, 01 Jan 1970 00:00:00 GMT";

	}
	function afficheCookies() {
		alert(document.cookie);
	}
</script>


</head>


<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
	<span class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding"> <a href="" ng-click="redirection()"> <img ng-src="../images/logoEcom2.png" class="img-responsive" style="height: 10em; width: 10em;" /></a>
	</span>
	<div class="col-lg-6 col-md-6 col-sm-10 col-xs-10" style="margin-top: 2.5%; vertical-align: middle;">
		<form ng-submit="rechercheBarre()" role="form" name="form" action="" method="post" style="padding: 0px; vertical-align: middle;">
			<div class="input-group input-group-lg icon-addon addon-lg" style="vertical-align: middle;">
				<input list="barreRecherche" type="text" ng-model="recherche" placeholder="Ecrivez ici pour chercher un livre ..." ng-change="suggestion()" name="inputSearchQuerry" id="schbox" class="form-control input-lg">
				<datalist id="barreRecherche">
				</datalist>
				<i class="icon icon-search"></i> <span class="input-group-btn"> <a ng-click="rechercheBarre()" href="" class="btn btn-info" role="button"><i class="glyphicon glyphicon-search"></i></a>
				</span>
			</div>
		</form>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding">
		<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 no-padding">
			<a ng-href="#/panier"> <!-- <img ng-src="../images/icon_panier.png" class=" img-responsive" style="height: 6em;width: 6em; margin:auto; padding:0px;"/>--> <ngcart-summary></ngcart-summary>
			</a>
		</div>

		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 no-padding">
			<div id="connexion">
				<form action="ConnexionClient" method="POST" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
					<fieldset>
						<span id="erreurIdentifiant" style="display: none; color: red;">Identifiant ou mot de passe incorrect</span>
						<input class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control" type="text" name="pseudo" placeholder="Identifiant" value="">
						<input class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-control" type="password" name="motDePasse" placeholder="Mot de passe">
						<input class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-primary" type="submit" value="Connexion">
					</fieldset>
				</form>
				<form action="html/inscriptionClient.html" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style="padding-top: 5px;">
					<input class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn btn-primary" type="submit" value="Inscription">
				</form>
			</div>
			<div id="profil" style="display: none; text-align: center;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
				<a href="#/connexion" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="font-size: 150%;">Mon<br>Compte
				</a> <a class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="login"></a>
				<form class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input class="btn btn-primary" type="submit" onclick="deconnexion()" value="Deconnexion">
				</form>
			</div>
			<!--<form>
				<input type="submit" onclick="afficheCookies()"
					value="affiche Cookies">
				</p>
			</form>-->
		</div>
	</div>
</div>