<div class="col-lg-12 col-md-12 col-sm-12 col-xs-5">
	<h3>Genre</h3>
	<div class="list-group">
	  <ul class="list-unstyled">
	  	 <li><input class="radioNoCircle tri" name="genre" id="scienceFiction" type="radio" ng-click="setGenre('Science fiction', 'scienceFiction'); rechercheMenu()" ><label for="scienceFiction">Science fiction</label></li>
		 <li><input class="radioNoCircle tri" name="genre" id="jeunesse" type="radio" ng-click="setGenre('Jeunesse', 'jeunesse'); rechercheMenu()" ><label for="jeunesse">Jeunesse</label></li>
		 <li><input class="radioNoCircle tri" name="genre" id="fantasy" type="radio" ng-click="setGenre('Fantastique', 'fantasy'); rechercheMenu()" ><label for="fantasy">Fantasy</label></li>
		 <li><input class="radioNoCircle tri" name="genre" id="policier" type="radio" ng-click="setGenre('Policier', 'policier'); rechercheMenu()"><label for="policier">Policier</label></li>
		 <li><input class="radioNoCircle tri" name="genre" id="biographies" type="radio" ng-click="setGenre('Biographie', 'biographies'); rechercheMenu()" ><label for="biographies">Biographies</li>
		 <li><input class="radioNoCircle tri" name="genre" id="documentaires" type="radio" ng-click="setGenre('Documentaires', 'documentaires'); rechercheMenu()"><label for="documentaires">Documentaires</label></li>
	  </ul>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-5">
	<h3>Affiner</h3>
	<h4>Avis</h4>
	<ul class="col-lg-12 col-md-12 no-padding ">
		<li ng-repeat="i in range(1, 4)" class="list-unstyled no-padding ">
			<label> <input class="radioNoCircle avis" name="avis" id="avis{{i}}" type="radio" ng-click="setAvisMin(i, i); rechercheMenu()"><img for="avis{{i}}" src="images/etoiles/etoiles{{i}}.png"></img></label>
		</li>
	</ul>
	<h4>Prix</h4>
	<form action="" class="form-horizontal" >
	    <div class="form-group">
	        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6" style="padding:0px;">
	            <input id="menuPrixMin" ng-model="prixMin" ng-change="setPrixMin(prixMin)" type="text" class="form-control" placeholder="Prix Min">
	        </div>
	        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6" style="padding:0px;">
	            <input id="menuPrixMax" ng-model="prixMax" ng-change="setPrixMax(prixMax)" type="text" class="form-control" placeholder="Prix Max">
	        </div>
	        <span class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding:0px;">
         	   <a ng-click="rechercheMenu()" href="" class="btn btn-info" role="button"><i class="glyphicon glyphicon-search"></i></a>
        	</span>
	    </div>
	</form>
</div>