
<section>
	<div style="padding: 2em 2em 2em 2em;" class="container-fluid">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Modifier votre mot de passe</h3>
					</div>
					<div class="panel-body">
						<table WIDTH=100%>
							<tr>
							<span id="erreurChampVide" style="display: none; color: red;">Veuillez remplore tous les champs.</span>
							<span id="erreurMotDePasseActuel" style="display: none; color: red;">Vous avez saisi le mauvais mot de passe.</span>
							<span id="erreurMotDePasseDifferents" style="display: none; color: red;">Les deux mots de passes saisis sont différents.</span>
							<span id="confirmationModificationMotDePasse" style="display: none; color: green;">Votre mot de passe a été modifié.</span>
								<td>Ancien mot de passe</td>
								<td>:</td>
								<td ALIGN="right"><input type="password"
									id="ancienMotDePasse"
									class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"
									placeholder="Entrez votre mot de passe actuel"></td>
							</tr>
							<tr>
								<td>Nouveau mot de passe</td>
								<td>:</td>
								<td ALIGN="right"><input type="password"
									id="nouveauMotDePasse"
									class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"
									placeholder="Entrez votre nouveau mot de passe"></td>
							</tr>
							<tr>
								<td>Confirmer mot de passe</td>
								<td>:</td>
								<td ALIGN="right"><input type="password"
									id="confirmationNouveauMotDePasse"
									class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"
									placeholder="Confirmez votre nouveau mot de passe"></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td ALIGN="right"><input type="submit" ng-click="modificationMotDePasse()" value="Modifier"
									class="marginExt btn col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-warning ">
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
	</div>
</section>
