<h2 class="titre">Inscription</h2>

<div ng-if="rez===''">
	<span style="color: green;font-weight:bold">Vous êtes maintenant inscrit.</span><br>
	<span style="color: green;font-weight:bold">Un email a été envoyé à {{_email}}</span><br>
	<span style="color: green;font-weight:bold">Vous pouvez dès a présent vous connecter.</span><br>
	
	<br><br><br>
	
	<form action="../index.html" class="col-lg-6 col-md-6 col-sm-8 col-xs-12" >
		<input class="marginExt btn col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-warning" type="submit" value="Retour">
	</form>
</div>

<div ng-if="rez" class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
	<span id="erreurCaracteresInterdits" style="display: none; color: red;">Veuillez ne pas utiliser de caractères interdits (%, ", *, $,¤, etc).</span>
	<span id="erreurMotDePasseTropCourt" style="display: none; color: red;">Veuillez saisir un mot de passe de 8 caractères ou plus.</span>
	<span id="erreurMailNonValide" style="display: none; color: red;">Veuillez saisir une adresse mail valide.</span>
	<span id="erreurPseudoExiste" style="display: none; color: red;">Ce pseudonyme est déjà utilisé.</span>
	<span id="erreurMotDePasseDifferents" style="display: none; color: red;">Les deux mots de passes saisis sont différents.</span>
	<span class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-if="rez!==true" style="color: red;font-weight:bold">{{rez}}</span>
	<form  ng-submit="submit()" >
		<Label style="padding: 1em 0em 0em 0em;">Identifiant</Label><br>
		<input class="col-lg-10 col-md-10 col-sm-10 col-xs-10 form-control" type="text"  placeholder="Identifiant" required ng-model="_id" ><br>
		<Label style="padding: 1em 0em 0em 0em;">Nom</Label><br>
		<input class="col-lg-10 col-md-10 col-sm-10 col-xs-10 form-control" type="text"  placeholder="Nom" required ng-model="_nom" ><br>
		<Label style="padding: 1em 0em 0em 0em;">Prenom</Label><br>
		<input class="col-lg-10 col-md-10 col-sm-10 col-xs-10 form-control" type="text" placeholder="Prenom" required ng-model="_prenom" ><br>
		<Label style="padding: 1em 0em 0em 0em;">Mot de passe</Label><br>
		<input class="col-lg-10 col-md-10 col-sm-10 col-xs-10 form-control" type="password"  placeholder="Mot de passe" required ng-model="_mdp" ><br> 
		<Label style="padding: 1em 0em 0em 0em;">Confirmer mot de passe</Label><br>
		<input class="col-lg-10 col-md-10 col-sm-10 col-xs-10 form-control" type="password"  placeholder="Confirmer mot de passe" required ng-model="_mdpc" ><br> 
		<Label style="padding: 1em 0em 0em 0em;">Email</Label><br>
		<input class="col-lg-10 col-md-10 col-sm-10 col-xs-10 form-control" type="text" placeholder="Email" required ng-model="_email" ><br><br><br>
		<input class="marginExt btn col-lg-4 col-md-4 col-sm-6 col-xs-12 btn-warning" type="submit" id="submit" value="Inscription">
	</form>
	<br><br><br>
	
	<form action="../index.html" >
		<input class="marginExt btn col-lg-4 col-md-4 col-sm-6 col-xs-12 btn-warning" type="submit" value="Retour" >
	</form>


