<section>
	<div style="padding: 2em 2em 2em 2em;" class="container-fluid radio">


		<h2 class="titre">Gestion des livres</h2>

		<div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Création d'informations <button ng-click="toggle_div(this,'formCreation');" >+</button>
					</h3>
				</div>
				<div id="formCreation" class="panel-body form-group" style="display:none">

					<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<tr>
							<td>
								<div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Création d'un genre  <button type="button" ng-click="toggle_div(this,'formCreerGenre');">+</button></h3>
										</div>
										<div id="formCreerGenre" class="panel-body form-group" style="display:none;">

											<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<tr>
													<td>Nom</td>
													<td>:</td>
													<td ALIGN="right"><input type="text" id="newGenre"
														class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>

												</tr>
												<tr>
													<td></td>
													<td></td>
													<td ALIGN="right" class="text-right"><input type="submit"
														value="Créer genre" ng-click="creerGenre()"
														class="marginExt btn btn-warning"></td>
												</tr>

											</table>
										</div>
									</div>
								</div>


							</td>
						</tr>

						<tr>
							<td>
								<div class="">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Création d'un auteur  <button type="button" ng-click="toggle_div(this,'formCreerAuteur');">+</button></h3>
										</div>
										<div id="formCreerAuteur" class="panel-body form-group" style="display:none;">

											<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<tr>
													<td>Nom</td>
													<td>:</td>
													<td ALIGN="right"><input type="text" id="newNomAuteur"
														class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
												</tr>
												<tr>
													<td>Prénom</td>
													<td>:</td>
													<td ALIGN="right"><input type="text"
														id="newPrenomAuteur"
														class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td ALIGN="right" class="text-right"><input type="submit"
														value="Créer auteur" ng-click="creerAuteur()"
														class="marginExt btn btn-warning"></td>
												</tr>

											</table>
										</div>
									</div>
								</div>


							</td>
						</tr>
						<tr>
							<td>
								<div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Création d'un editeur  <button type="button" ng-click="toggle_div(this,'formCreerEditeur');">+</button></h3>
										</div>
										<div id="formCreerEditeur" class="panel-body form-group" style="display:none;">

											<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<tr>
													<td>Nom</td>
													<td>:</td>
													<td ALIGN="right"><input type="text" id="newEditeur"
														class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>

												</tr>
												<tr>
													<td></td>
													<td></td>
													<td ALIGN="right" class="text-right"><input type="submit"
														value="Créer editeur" ng-click="creerEditeur()"
														class="marginExt btn btn-warning"></td>
												</tr>

											</table>
										</div>
									</div>
								</div>


							</td>
						</tr>

					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Modifications d'informations <button type="button" ng-click="toggle_div(this,'formModification');">+</button></h3>
				</div>
				<div id="formModification" class="panel-body form-group" style="display:none">

					<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<tr>
							<td>

								<div class="">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Modifications d'un genre  <button type="button" ng-click="toggle_div(this,'formModifGenre');">+</button></h3>
										</div>
										<div id="formModifGenre" class="panel-body form-group" style="display:none;">

											<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<tr>
													<td>Modifier le genre</td>
													<td>:</td>
													<td ALIGN="right"><select class="form-control"
														ng-model="selectedGenreToModify">
															<option ng-repeat="g in genres" value="{{g.id}}">{{g.nom}}</option>
													</select></td>
												</tr>
												<tr>
													<td>En</td>
													<td>:</td>
													<td><input type="text" id="modifyGenre"
														class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12">
													</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													</td>
													<td ALIGN="right"><input type="submit"
														value="Modifier le genre" ng-click="modifierGenre()"
														class="marginExt btn col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-warning"></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>

						</tr>
						<tr>
							<td>
								<div class="">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Modification d'un auteur  <button type="button" ng-click="toggle_div(this,'formModifAuteur');">+</button></h3>
										</div>
										<div id="formModifAuteur" class="panel-body form-group" style="display:none;">

											<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<tr>
													<td>Modifier l'auteur</td>
													<td>:</td>
													<td ALIGN="right"><select class="form-control"
														ng-model="selectedAuteurToModify">
															<option ng-repeat="a in auteurs" value="{{a.id}}">{{a.prenom}}
																{{a.nom}}</option>
													</select>
													<td></td>
												</tr>
												<tr>
													<td>Nouveau nom</td>
													<td>:</td>
													<td><input type="text" id="modifyNomAuteur"
														class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12">
													</td>
												</tr>
												<tr>
													<td>Nouveau prénom</td>
													<td>:</td>
													<td><input type="text" id="modifyPrenomAuteur"
														class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12">
													</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td ALIGN="right"><input type="submit"
														value="Modifier l'auteur" ng-click="modifierAuteur()"
														class="marginExt btn col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-warning"></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>
						</tr>

						<tr>
							<td>

								<div class="">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Modifications d'un editeur <button type="button" ng-click="toggle_div(this,'formModifEdit');">+</button></h3>
										</div>
										<div id="formModifEdit" class="panel-body form-group" style="display:none;">

											<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												<tr>
													<td>Modifier l'éditeur</td>
													<td>:</td>
													<td ALIGN="right"><select class="form-control"
														ng-model="selectedEditeurToModify">
															<option ng-repeat="e in editeurs" value="{{e.id}}">{{e.nom}}</option>
													</select>
													<td></td>
												</tr>
												<tr>
													<td>En</td>
													<td>:</td>
													<td><input type="text" id="modifyEditeur"
														class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12">
													</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td ALIGN="right"><input type="submit"
														value="Modifier l'éditeur" ng-click="modifierEditeur()"
														class="marginExt btn col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-warning"></td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</td>

						</tr>

					</table>
				</div>
			</div>
		</div>




		<div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Ajout d'un livre <button type="button" ng-click="toggle_div(this,'formAjoutLivre');">+</button></h3>
				</div>
				<div id="formAjoutLivre" class="panel-body form-group" style="display:none">

					<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<tr>
							<td>Titre</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="titre"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
						</tr>
						<tr>
							<td>Editeur</td>
							<td>:</td>
							<td ALIGN="right"><select class="form-control"
								ng-model="selectedEditeur">
									<option ng-repeat="e in editeurs" value="{{e.id}}">{{e.nom}}</option>
							</select></td>
						</tr>
						<tr>
							<td>Genre</td>
							<td>:</td>
							<td ALIGN="right"><select class="form-control"
								ng-model="selectedGenre">
									<option ng-repeat="g in genres" value="{{g.id}}">{{g.nom}}</option>
							</select></td>
						</tr>
						<tr>
							<td>ISBN</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="isbn"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
						</tr>
						<tr>
							<td>Nombre de page</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="nbPage"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
						</tr>
						<tr>
							<td>Prix</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="prix"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
						</tr>
						<tr>
							<td>Langue</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="langue"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
						</tr>
						<tr>
							<td>Langue originale</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="langOrig"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
						</tr>
						<tr>
							<td>Couverture</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="couverture"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
						</tr>
						<tr>
							<td>Résumé</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="resume"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
						</tr>
						<tr>
							<td>Date de publication</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="datePub"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td ALIGN="right"><input type="submit" value="Modifier"
								ng-click="creerLivre()"
								class="marginExt btn col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-warning"></td>
						</tr>
					</table>

				</div>
			</div>
		</div>





		<div class="col-lg-6 col-md-8 col-sm-8 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Ajout d'une promotion <button type="button" ng-click="toggle_div(this,'formAjoutProm');">+</button></h3>
				</div>
				<div id="formAjoutProm" class="panel-body form-group" style="display:none;">

					<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<tr>
							<td>Livre</td>
							<td>:</td>
							<td ALIGN="right"><select class="form-control"
								ng-model="selectedLivre">
									<option ng-repeat="l in livres" value="{{l.id}}">{{l.titre}} / {{l.isbn}}</option>
							</select></td>

						</tr>
						<tr>
							<td>Taux de réduction (0-100)</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="newTaux"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>

						</tr>
						<tr>
							<td>Date de début (jj/mm/aaaa)</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="newDateD"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>

						</tr>
						<tr>
							<td>Date de fin (jj/mm/aaaa)</td>
							<td>:</td>
							<td ALIGN="right"><input type="text" id="newDateF"
								class="marginExt col-lg-12 col-md-12 col-sm-12 col-xs-12"></td>

						</tr>
						<tr>
							<td></td>
							<td></td>
							<td ALIGN="right"><input type="submit" value="Créer promotion"
								ng-click="creerPromotion()"
								class="marginExt btn col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-warning"></td>
						</tr>
					</table>
				</div>
			</div>
		</div>


		<input type="submit" value="Envoyer mail" ng-click="envoiMail()" class="marginExt btn col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-warning">


	</div>

</section>